DeepLearning4CV/Assignment_1/cifar-10-batches-py/*
DeepLearning4CV/Assignment_1/eecs598
DeepLearning4CV/Assignment_1/playground.ipynb
DeepLearning4CV/Assignment_1/__pycache__/*
DeepLearning4CV/Assignment_1/cifar-10-python.tar.gz
